<div class="container-fluid">
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">Flight Populace
        </h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <h5>
        <div style="text-align:center"><img style="width: 20%; height: auto;margin-top: 15px;margin-bottom: 15px"
            src="assets/populace.png"></div>
        <br>
        <div class="row">
          <h5 class="col-md-8 offset-md-2">
            Flight Populace is expressly interested in making sure every Nimbat and Visitant is healthy, happy, and has
            the things they need to thrive. Taking up the helm on the more political end of things, this Flight
            prioritizes on ensuring equality for every inhabitant, and to allow them not only to live, but to pursue
            some level of happiness. In order for this to occur, systems must be put in place to protect rights and
            opportunities without it coming to cost another’s. Everyone is allowed to live a free life, but regulations
            are put in place to make sure no one else’s free life can harm another’s. These sects ensure that this
            remains true.
          </h5>
        </div>
      </h5>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">The Three Sects of Flight Populace
        </h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <h5 class="col-md-8 offset-md-2">
          <h4>Governance</h4>
          While laws are primarily made by coordination between Flight Populace and the Colony Council, the Flight
          itself is not within itself a law-making body. Rather, it is a maintenance body. Policies that protect the
          rights of Nimbats and Visitants are reviewed every year, and public engagement is utilized to make sure that
          these policies are functioning properly.
        </h5>
        <h5 class="col-md-8 offset-md-2">
          <h4>Intervention</h4>
          There are circumstances in which a complication arises for an individual that may prevent them from having
          access to something. In these cases, this sect directly intervenes to provide reasonable assistance. Depending
          on the service, some level of compensation may be required, but it usually does not completely intrude on
          one’s life and style.
        </h5>
        <h5 class="col-md-8 offset-md-2">
          <h4>Adaptation</h4>
          This particular sect works with Flight Progression to overview new developments for the Colony. These
          developments could have political changes, and so proposals and coordination with the Council are initiated in
          order to create necessary policies to accommodate for these kinds of changes, without hurting the political
          core of the Colony.
        </h5>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">Notable Members</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <h5 class="notes col-md-6 offset-md-2">
          <h4>Jena, Flight Populace Elder</h4>
          "This Elder displays some of the “weakest” magical prowess in the Colony, but that is not to say it is without
          use. It just lacks apparentness at first meeting. Simply put, Jena is a telepathic empath. She has the ability
          to read minds to a simple degree, picking up thoughts that permeate through the mind, as well as emotions. The
          inhabitants say she can figure out an individual in a little under an hour. Jena uses all of this to cater to
          inhabitants, especially first-time Visitants. She leaves gifts, offers assuring words or advice, seemingly
          knowing just what to do or say to try and make one smile, or at least feel comfortable. With abilities and a
          golden heart like that, I find it easy to see why she represents Flight Populace."
        </h5>
        <div class="col-md-2">
          <div style="text-align:center"><img style="width: 40%; height: auto;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/jena.png"></div>
        </div>
        <div class="col-md-8 offset-md-2">
          <hr>
        </div>
      </div>
      <div class="row pb-1">
        <div class="col-md-2 offset-md-2">
          <div style="text-align:center"><img style="width: 45%; height: 50%;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/ela.png"></div>
        </div>
        <h5 class="notes col-md-6">
          <h4>Ela, Governance Sect Leader
          </h4>“In hindsight, I might have had an easier time pinning down Ela if I had just set up an appointment
          through her associates. The thing is, she rarely stops moving from facility to facility. Even in the moments I
          was able to find her, she was quickly occupied by many inhabitants issuing requests, or reports. When I was
          finally able to find a speaking opportunity with her, I found myself impressed by her ability to have multiple
          conversations at once. It could be some kind of personal skill, or most likely a kind of enchantment she is
          practiced in that gives her an easier means of navigating many at once through speech. If your main task
          revolves around collective decision-making, a skill like that might save a great deal of time.”
        </h5>
        <div class="col-md-8 offset-md-2">
          <hr>
        </div>
      </div>
      <div class="row">
        <h5 class="notes col-md-7 offset-md-2">
          <h4>Rhia, Intervention Sect Leader
          </h4>
          “Rhia being born outside of the Colony had excited my prospects at first, since it opened a possibility of
          learning of other Nimbat settlements around the world. Unfortunately, she was not too keen on sharing any
          details beyond a silent affirmation that they do exist. As for Rhia herself, she presents an ability to
          accurately predict incoming disasters, natural or otherwise. With her proactive knowledge, she begins to
          procure the resources of the Populace Flight to prepare sensitive areas and individuals for what’s to come.
          These disasters are not always something as grandiose as tornadoes or floods, it can be something as innocuous
          as a house fire or complications from heavy winds. Her discomfort with discussing her origins had swayed me
          away from inquiring on just why she might have left her previous home.”
        </h5>
        <div class="col-md-1">
          <div style="text-align:center"><img style="width: 100%; height: auto;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/rhia.png"></div>
        </div>
        <div class="col-md-8 offset-md-2">
          <hr>
        </div>
      </div>
      <div class="row pb-1">
        <div class="col-md-2 offset-md-2">
          <div style="text-align:center"><img style="width: 45%; height: 50%;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/jaina.png"></div>
        </div>
        <h5 class="notes col-md-6">
          <h4>Jaina, Adaptation Sect Leader
          </h4>
          “It only makes sense that it would be the role of the government to determine how foreign technological
          utilities and methods ought to be incorporated into infrastructure, if they are to be incorporated at all. And
          the Nimbat that advocates and investigates these kinds of innovations matches my expectations in appearance.
          Jaina wears a pair of aesthetic lenses, and she’s almost always carrying some kind of primitive electronic
          device such as a calculator or digital notepad. Our interview took place in her office, which was more akin to
          a CEO-equivalent in my city. We had many a conversation about the practical applications of objects that wound
          up on her desk. I worry that she might be easily enticed by cheap “gadgets” that are sold at gas stations.”
        </h5>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>