<div class="container-fluid">
    <mat-card>
      <mat-card-title><h3>Flight Progression</h3></mat-card-title>
      <mat-card-content>
      <h5>
        <div style="text-align:center"><img style="width: 20%; height: auto;margin-top: 15px;margin-bottom: 15px" src="assets/progression.png"></div>
        <br>
        Flight Progression is made up by the most curious and “out-going” Nimbats in the Colony. They reach out to study the outside world, and return to the Colony to report their findings and teachings. The Progression Flight sees that the Colony is able to adapt and progress as they discover new things, be it new teachings over a process or idea, or objects that might prove useful to the Colony. When a Visitant enters the Colony, they're the ones to take their gear and study it to ensure that it is not dangerous, while also looking through potential usage of whatever equipment the Visitant has. For the most part, the forest theme of the Colony is maintained, and so most technology is rejected if it cannot be recreated in a natural or magical process.
      </h5>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title><h3>The Three Sects of Flight Populace</h3></mat-card-title>
      <mat-card-content>
      <h5>
        <div class="container">
          <div class="row">
              <div class="col">
                  <h4 style="text-align:center;">Acquisition</h4>
              </div>
              <div class="col">
                  <h4 style="text-align:center;">R&D</h4>
              </div>
              <div class="col">
                  <h4 style="text-align:center;">Education</h4>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col" style="text-align:justify">
                Nimbats within this sect spend most of their lives away from the Colony. They venture out around the world, meeting new people, learning new things, and picking up new objects that fascinate them. At some point they return home, and produce their findings with the rest of the Flight. Not every single thing will be utilized, but those that will wind up going into one of the following sects.             </div>
            <div class="col" style="text-align:justify">
                This sect is designated for objects brought in by Acquisition. If its function could provide a practical and beneficial use to the Colony without contradicting its values, it is reverse-engineered over time in order to gain a full understanding of how it works before it is proposed for reproduction for the Colony’s use. For example, a fishing rod brought in by a Nimbat could be broken apart and fiddled with to understand how each part provides to the mechanism, and its benefits are practiced. If this sect deems it worthy of reproduction, the idea of the fishing rod may be introduced to other Flights.            </div>
            <div class="col" style="text-align:justify">
                This sect is designated for teachings brought in by Acquisition. These could range from practical teachings such as new ways to understand math, physics, magic, and so on, to philosophic and political teachings that could contribute to understandings within the Colony. Just like the previous sect, if it is deemed useful and beneficiary without harming the core of the Colony’s values, it may be proposed for incorporation.             </div>
        </div>
    </div>
      </h5>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title><h3>Brianna, Flight Progression Elder</h3></mat-card-title>
        <mat-card-content>
        <h5 class="notes">
            "The youngest of the Elders, albeit still quite old by human standards, Brianna is a curious and playful spirit. She’s much for conversation, but only if it means that she can potentially steal something shiny from your person if you aren’t paying attention—my own wrist watch got taken, and it took an hour to get it back! When Brianna isn’t being a little devil, she’s tinkering with some object, making interesting trinkets and toys. It’s likely she has some form of metallurgy in her magic capacity."        </h5>
        <h5>
          <div class="container">
            <div class="row">
                <div class="col">
                    <h4 style="text-align:center;">Whisper</h4>
                    <h6 style="text-align:center;">Acquisition Sect Leader</h6>
                </div>
                <div class="col">
                    <h4 style="text-align:center;">Mila</h4>
                    <h6 style="text-align:center;">R&D Sect Leader</h6>
                </div>
                <div class="col">
                    <h4 style="text-align:center;">Anne</h4>
                    <h6 style="text-align:center;">Education Sect Leader</h6>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col notes" style="text-align:justify">
                "Strangely, no one seems to know Whisper’s actual name. She’s quite the notorious one, and has a reputation of being able to get anything from anywhere. I’m personally unsure how she does come about most of the things she finds, but I theorize she has strong clairvoyance that she keeps under wraps.  I can’t tell how much of them are actually true, but she has given a story for each of the things she acquiesced. She’s regaled me with tales of daring escapes and panicked portaling, but most of these stories are about things that don’t seem to be too useful for the Flight at large. The girl certainly likes her shiny things."              </div>
              <div class="col notes" style="text-align:justify">
                "Mila’s likely the most curious Nimbat in the colony. She tends to fly around in a long lab coat, and likes to look at every little thing on her routes through the colony. This usually causes her to be late to meetings (evidenced by the fact that she was nearly half an hour late to our scheduled one), but most other Colony residents write it off as “Typical Mila time.” A few say that they’ve told her to arrive earlier than other invitees, and even then she still tends to get there late."              </div>
              <div class="col notes" style="text-align:justify">
                "Anne is, in a way, a mother to every Nimbat who grew up in the Colony. She takes her job incredibly seriously, and is constantly working with other Sects in other Flights to make her educational program as good as it can be. She’s told me about a magic she’s managed to learn and develop herself; A form of telepathy, which allows her to verbally communicate seamlessly with anyone across any culture. She says that she looks into someone's mind, and learns their language in moments. For the rest of my time with her, she rattled through what seemed like a hundred different languages and dialects, all learned from places she’s visited. It was uncanny to hear a Nimbat speak in the same accent of my home town, █████████."              </div>
          </div>
      </div>
        </h5>
        </mat-card-content>
      </mat-card>
  </div>
  <br>