<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>Visitants</h3>
        </mat-card-title>
        <mat-card-content>
            <hr>
            <h5>There are other non-Nimbats that are a part of the Colony. Visitants span the gender spectrum, and the
                interviewed Visitants have been about the Colony for a wide array of time. Some have merely visited and
                left intermittently, while others have resided here much longer than I have. It seems that a strong
                pillar of Nimbat ideology is the introduction and potential incorporation of others into the Colony.
                When a Nimbat goes out into the world and finds someone that catches their interests, they may escort
                them back to the Colony itself.</h5>
            <h5 class="notes">"A number of other Nimbats refer to the one who brings a non-Nimbat here as an “Advocate”,
                and said non-Nimbats like myself are their “Visitant”. My own Advocate, ██████, told me about how
                they’re responsible for my actions. If a Visitant has ill-natured intentions or practices malice in the
                Colony, they are exiled, and the Advocate faces some repercussions. They wouldn’t tell me the details."
            </h5>
            <h5>Upon arrival, the Advocate escorts the Visitant to at least one Council member to introduce them
                personally while the rest are introduced by secondary means. Many Visitants come only for a few days,
                and choose to leave. However, there are a few that choose to stay. Upon that decision, the Advocate
                begins a ritual to fully accept them into the Colony. Visitants are free to do as they wish so long that
                it assists the Colony, and most choose to join a Flight to work what is close to a traditional job.
                These can be anything from assisting with construction or hauling (which is quite useful, since Nimbats
                do tend to be of shorter stature) to recordkeeping. Nimbats are often seen fraternizing with Visitants,
                including the Visitants of other Advocates. It seems they quickly become part of the colony
                itself.</h5>
        </mat-card-content>
    </mat-card>
</div>