<div class="container-fluid">
<mat-card>
    <mat-card-title>
        <h3>Colony Chronicles</h3>
    </mat-card-title>
    <mat-card-content>
        <h5>Below you'll find a collection of short stories written by the NimbatColony team. These are made possible by our lovely subscribers on Patreon; Members of the Peon tier and above get access to some more risque stories, while more family friendly stories will be here for free.</h5>
    </mat-card-content>
    <mat-divider></mat-divider><br>
    <h5><a routerLink="/colony-chronicles/caught-up-in-your-wheeling-dealing">Caught Up In Your Wheeling-Dealing</a></h5>
    <h6><i>After coming out of a long day’s worth of work in the Colony, you were approached by someone who seemed more than thankful to see you busting your butt for a good cause. Maybe she adored generous, hard-working people like herself. Or maybe she saw something on you that she wanted a taste of. A pairing between Anon and Rosmerta, the Proliferation Elder!</i></h6>
        This story is 18+ NSFW, published on 7/9/22! It can be found on Patreon, and also here! <b>This NSFW story is free for all.</b>
</mat-card>
</div>