<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>Choose Your Path</h3>
        </mat-card-title>
        <mat-card-subtitle>Published on 10/8/22, written by Finn. (2051 words, ~10 minute read.)</mat-card-subtitle>
        <mat-card-content style="text-align:justify;text-indent: 5%;" class="container">
            <h5>Graduation day was approaching rapidly, at least in the minds of the Colony’s secondary school seniors.
                And, while he watched his fellow classmates work through their classes diligently, Pat couldn’t help but
                feel lost. Even though the day was actually months away, it already seemed like everyone knew what they
                wanted to do with themselves. While he wasn’t exactly struggling in school, no subject really seemed to
                spark Pat’s fire of interest.</h5>
            <h5>He wasn’t as passionate about fitness as the hopeful Flight Protection recruits, and Flight Populace
                seemed a bit out of his comfort zone too. While he liked to help people, doing so face-to-face was less
                desirable. He didn’t feel smart enough for Progression, what with their research and development, and
                there was just something about Proliferation that he didn’t like either. A lot of hopefuls for that
                flight just seemed to be after all the wrong things. Something about Preservation, too, just… didn’t sit
                right with the young nimbat. They seemed to be all about history, and he struggled with that, too.</h5>
            <h5>He adjusted his shoulder bag a bit as he and his fellow students flowed into an open amphitheater for
                the day. A deep sigh escaped him upon seeing the packed stands- He knew it’d be like this, but it was
                still a lot. Today was a special day for everyone, though, as the Elders were putting aside time to come
                speak about their respective Flights. A career day, to help everyone find where they may belong. Pat,
                though, gets to his chair, slings his bag down, and props his head up on his hands, gazing in the
                direction of the stage. He had to at least pretend that he was paying attention.</h5>
            <h5>The headmaster took the stage, addressing the class at large. Something about choosing your path,
                forging your future, that sort of stuff that’s supposed to be inspirational. All around him, everyone
                looked to be absorbing every word, but it all just bounced off of him. They ended their opening speech
                with a reminder that each speaker and some representatives will be around after the presentation, just
                to answer more questions if they had any. The headmaster was met with appropriate applause, before
                introducing the first keynote speaker.</h5>
            <h5>Of course, Flight Progression’s Brianna was the first to storm the stage. She brought high energy and
                bright gadgets, captivating the minds of the more curious nimbats in the audience. Pat, though, as
                always, had a glazed over look in his eyes, even as the Elder showed off the latest stuff from the R&D
                sect. Next was Jena of Flight Populace, and she changed the energy in the room. Her tone was purely
                analytical, providing figure after figure of data outlining how Populace works. She touched on
                government, intervention, and her duty to help everyone she could in the best way possible, by going out
                and finding what needed to be done. Too nebulous for Pat, though.</h5>
            <h5>Next was Rosmerta, Elder of Flight Proliferation. Her presentation was less about enticing new nimbats
                to join, and more about dissuading those only in it for one reason. She tried her hardest to remind
                potential Flight members that work in Proliferation wasn’t all about proliferation itself. It was about
                early life care, parental commitment, and a whole lot of tough stuff at times. Try as she might, though
                Pat was already uninterested, and the message she was saying just wasn’t getting to the students who
                needed it most. No matter, Pat thought, they’ll just be crushed in the recruitment process.</h5>
            <h5>By this time, Pat was more or less slumped into his paw, barely able to keep his eyes open even as
                Eislyn took the stage. Her talks of illusions and security for Flight Protection must’ve been
                interesting to someone, but it only sent Pat further down the road into an uncomfortable nap.
                Eventually, Eislyn bowed, and left the stage for Katell to take it. </h5>
            <h5>A few moments passed, before a hushed murmur creeped through the crowd. The other transitions were quite
                fast, what was taking Flight Preservation’s leader so long? Almost paradoxically, Pat sat a bit more
                upright, momentarily interested in what was happening. A few more moments passed before another nimbat
                took the stage- She was cream colored, clad in a dirtied woven purple poncho. She gently padded onto the
                stage, before announcing with a slight bow, “Good afternoon, all. I am Kara, of Flight Preservation’s
                Agriculture sect.”</h5>
            <h5>Glances were shared throughout the audience. A sect leader? Why not the Elder? “Elder Katell had an
                event arise that she had to tend to, so I come to you in her stead.” A few more murmurs of understanding
                washed over the crowd, before Kara raised a paw in a request for quiet.</h5>
            <h5>“Firstly, thank you all for sticking around, I know it must’ve been a long day with a lot of interesting
                options to think about for your future. I’m here to talk to you all about Flight Preservation, and some
                things we do that you might not be privy to.” </h5>
            <h5>Things we aren’t privy to? Preservation is… all about preservation, right? Pat thought to himself. His
                eyes refocused on the speaker, his curiosity piqued, finally.</h5>
            <h5>“While yes, a large portion of our Flight is devoted to preserving history, the forest around us, and
                our architecture, we are also in charge of producing food for the Colony’s population. That’s where I
                come in.” Kara lights up a bit, getting into her explanation. “I oversee our network of farmers, and our
                own development division.”</h5>
            <h5>Pat began to notice that the wood beneath Kara was sprouting new growth, which seemed to correspond with
                her enthusiasm. Is she causing that?</h5>
            <h5>“Phytomancy is intensely important to our Flight on a macro-scale.” The nimbat raised a hand, and in a
                flash of green-tinted magic, the stage beneath her speeds its growth intensely, raising the nimbat up
                with it. Newly grown twisting vines form themselves into a seat for the leader, who then sits atop it.
                Pat’s attention now enraptured, he leans forward, hands now laying on his chair’s armrests. </h5>
            <h5>“Part of what I do is to teach our new recruits how to grow, both the world around them and themselves. It’s
            a great way to help people, if you don’t like the more intimate way Populace does it. Food’s really
            important as you all know!” It was like Kara had a direct line to Pat’s mind, her sweet words of wisdom
            tickling parts of his brain he thought entirely dormant. Kara scans the crowd as she speaks, briefly meeting
            Pat’s gaze. He could’ve sworn she paused a moment on him, too. It’s… definitely just my mind playing tricks
            on me, he thought.</h5>
            <h5>“Of course, we do more than grow plants. Managing our infrastructure is paramount to our purpose as well,
            and we have many teams working throughout the colony to ensure things are safe for nimbat and Visitant
            alike. We also look for scribes and archivists, to keep our history as complete as possible.” Pat’s focus
            slowly starts to fade, but not to nothingness. He set his gaze on the seat of new growth Kara sat on, trying
            to study how it worked. His grip on his wooden armrests tightening. Pat barely knew magic, but his grip told
            him he wanted to learn from Kara. Before he knew it, her presentation was drawing to a close.</h5>
            <h5>“Thank you all for bearing with me. If you have questions, I’ll be mulling around after you’re all
            dismissed. Find me, and we’ll talk!” She gave the audience a smile and light bow, before waving to everyone
            and exiting. The headmaster had a few words to say, but Pat didn’t hear them- he was eager to get out.
            Dismissal was granted, and everyone made their way towards the exits. The elders and a few of their Sect
            Leaders were waiting outside, and as many nimbats cleared out entirely, a good amount stayed behind at each
            of the Flight’s booths.</h5>
            <h5>Naturally, Proliferation was the most crowded, Rosmerta fielding questions from the genuinely curious to the
            horny alike. Protection had some tools on display, Progression had their gadgets out, and Populace’s Jena
            was having a conversation with what seemed like the whole crowd individually at once. Pat peered over,
            impressed at her ability to keep track of things. Probably why she’s Elder…</h5>
            <h5>Pat made his way to Preservation’s area, and Katell had finally made it to the fair. From a distance, it
            seemed she was heaping praise on Kara for taking charge, while the other sect leaders fielded questions
            about their area of expertise. The crowd surrounding the booth was respectful, but still pretty large. He
            stood back a bit, waiting to see an opening to approach the leader once she got out of her conversation with
            her Elder.</h5>
            <h5>Suddenly, though, Kara gazed off to the crowd, and locked her gaze with Pat’s once she noticed him. Slight
            panic shot through the boy, as Kara turned back to Katell to dismiss herself from the conversation. The
            Elder smiled and turns back to the crowd to help her other leaders, while Kara turns to Pat, her gaze
            piercing the crowd, beckoning the young nimbat to her. Pat’s compelled to sidestep the crowd to meet the
            sect leader, who meets him with a wide smile. She and Pat were about the same size, despite her seeming
            larger than life on the stage.</h5>
            <h5>Shakily, Pat began to speak. “Hello Miss Kara-”</h5>
            <h5>She raised a paw. “Just Kara, young one.” He nodded. “What’s your name?”</h5>
            <h5>“Pat, uh, Emerson if that matters.”</h5>
            <h5>“Of course it does, Pat. It’s important to remember where we came from.”</h5>
            <h5>“Right, yes! I, um…” He kept looking at the expectant leader’s patient smile as she gazed back at him.</h5>
            <h5>“You’re interested in joining Preservation.” He nodded, unable to form a response before Kara continued. “I
            could tell by how you lit up.”</h5>
            <h5>“You saw that?”</h5>
            <h5>Kara nodded. “It’s part of my job to see the difference in a sea of similarity. Not many react like that.
            What might you want to do with our Flight?”</h5>
            <h5>It took Pat a moment to formulate how to say it. “I like the idea of helping from the sidelines, if that
            makes sense.” Kara nodded, as Pat continued. “Both of my parents are of Flight Progression, though, I don’t
            know if I’d be a good addition.”</h5>
            <h5>“Pat… While it is important to remember our history, it does not define us.” The nimbat’s words were smooth
            and sweet, like honey in the way it stuck in his mind. “You are the one to determine your future- if you
            want to be a part of our Flight, I’d love to have you.”</h5>
            <h5>“I would like to be part of the Agriculture sect, too, if that’s possible-”</h5>
            <h5>“I could assume, with your desire to ‘help from the sidelines’, dear.” She smiled, encouraging Pat to
            continue. A small smile started to cross his face, as the courage to speak continued to grow.</h5>
            <h5>“I don’t really know phytomancy, though, I hardly know magic at all.”</h5>
            <h5>“Well, that’s easy to change, Pat. It’s a lot of training, but if you’re committed, it starts to come more
            naturally as time goes on.” She knew what he wanted to ask at this point, and she tried her best to
            encourage him to ask it himself. He was nervous, she could tell. “I’ve taught plenty of nimbats before, they
            all catch on pretty fast.”</h5>
            <h5>Pat took a breath. His heartbeat rang in his ears, and he desperately tried to untie his tongue. “Miss
            Kara-”</h5>
            <h5>“Just Kara.”</h5>
            <h5>“Kara, would you… ah…” She smiled, he knew. “Would you teach me?”</h5>
            <h5>Kara smiled, turning from him briefly to produce a small metallic pendant, containing a seemingly living
            seed within it. She reached forward to take Pat’s paw in her own, placing the trinket in it. She curled his
            fingers over. “You’re still to go to school, young one. Keep her with you, and meet me afterwards at the
            eastern field outpost.”</h5>
            <h5>Pat nodded, and his heart welled in his chest, and a larger smile crept across his face. Unconditionally,
            Kara took him in, and Pat didn’t really know what to do. He could only gaze at the leader with appreciation.
            “Thank you, Kara.”</h5>
            <h5>She nodded. “We start tomorrow.”</h5>
        </mat-card-content>
    </mat-card>
</div>