<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>CuriousBattes</h3>
        </mat-card-title>
        <mat-card-content>
            <h5>We're on <a
                    href="https://www.google.com/url?q=https%3A%2F%2Fcuriouscat.live%2FNimbatColony&sa=D&sntz=1&usg=AOvVaw1VSC8k_S9JhfNFAi7Jcheh">CuriousCat</a>!
                If you'd like, check us out there, and ask us questions! We'll be compiling our questions and answers
                here, for your ease of viewing.</h5>

            <h5>Any out of character answers will be documented <a routerLink="/curious-battes-ooc">here</a>.</h5>
            <hr>
            <div *ngFor="let q of questions">
                <h4>{{q.question}}</h4>
                <div *ngFor="let a of q.answers">
                    <h6>{{a}}</h6>
                </div>
                <hr>
            </div>
        </mat-card-content>
    </mat-card>
</div>