<div class="container-fluid">
    <mat-card>
        <mat-card-title><div class="row">
            <h3 class="col-md-8 offset-md-2">Life in the Colony</h3></div>
        </mat-card-title>
        <mat-card-content>
            <hr>
            <h3>Public Spaces</h3>
            <h5>The largest areas in the Colony are those that have more public engagement. For example, the central
                “working space” of Flight Proliferation has larger spaces to accommodate its bigger traffic, but for
                Flight Populace, there are smaller spaces since the only sorts that frequent there are those that work
                in Populace, which is a small number compared to the whole of the population. This also includes the
                spaces that are designated outside the Flights and Council, such as marketplaces, entertainment spaces,
                sports arenas, educational facilities, medical facilities, and places to eat.<br />
                While Flight Progression often discards most of what they bring from the outside world on the basis that
                it doesn’t necessarily benefit the Colony, many take interest in the stuff that’s refused. Some of these
                things are sold at a vendor or two at the marketplace—don’t be too surprised if you come across
                someone’s stolen goods up for sale. Other things wind up on offer for buying as well, creating a massive
                diversity in what one can find. Furniture, art, decor, equipment, toys, food, and so much more. The
                Trader’s Clearing is where the vast majority of vendors are located. Some events are held within the
                Plain, such as festivals and market parties. For transactions, a very simple currency is used,
                consisting of a kind of wooden coin. There are ways to accumulate this coin, such as through service
                within the Flights. </h5>
            <hr>
            <h3>Daily Life</h3>
            <h5>Nimbats find a variety of ways to spend the day in the Colony, although plenty of them get more
                enjoyment through traveling outside of it. There are a few arenas for local sports that they enjoy,
                including some form of aerial volleyball, archery, swimming, and magic duels. Other spaces are reserved
                for performance arts and musical concerts. Other hobbies are practiced on larger scales within the
                Colony, such as reading, gardening, cooking, the arts, and some sciences. If nothing else, they tend to
                just leave the Colony for a bit to go and see what the world outside has to offer. </h5>
            <hr>
            <div>
                <div class="row">
                    <h3>Education</h3>
                    <h5>Schooling within the Colony is split into three different branches.</h5>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Developmental</h4>
                        <h5 style="text-align:justify;">Developmental branch specializes in educating the young,
                            preparing them for life and teaching them proper etiquette while encouraging them to explore
                            their identity in a healthy manner. Education here persists until the Nimbat has reached
                            biological and mental stability. Afterward, they are allowed to continue their studies into
                            either or both of the other branches, assuming they decide to pursue higher education. </h5>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Flight-Based</h4>
                        <h5 style="text-align:justify;">Flight-based schooling is just about what it implies, teaching a
                            Nimbat interested in working in one of the Flights what sorts of responsibilities are
                            required from them, and how to properly function in whatever they’re instructed to do. Many
                            courses and mentorships in any of the Flights are offered before the student even commits to
                            one, giving them an open opportunity to explore. </h5>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Arcane-Based</h4>
                        <h5 style="text-align:justify;">Arcane-based is solely for the furthering of magical ability.
                            Courses and teachings for this take place in the more isolated parts of the Colony. There,
                            one can improve on their existing magical skill, or develop new skills.</h5>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Food & Nutrition</h3>
            <h5>The food offered by the Colony is thanks to locally-grown produce. As such, the vast majority of what they offer is based on said produce. Fruit and veggies are in near-abundance, arranged and crafted in a variety of means to provide satisfying meals for a happy Nimbat. Don’t be fooled, though. They aren’t all-vegetarian. In corners of the Colony, livestock is maintained in order to produce enough meat to satisfy everyone. Some go as far as to hunt in the outside world, or use magic to make meat-gathering easier.  </h5>
        </mat-card-content>
    </mat-card>
</div>