<div class="container-fluid update">
    <div class="row">
        <div class="col-1">
            <button mat-button (click)="toggleSidenav()"><img style="width: 30px; height: auto;padding-bottom: 10px"
                    src="assets/newcomer mark.png"></button>
        </div>
        <div class="col-11">
            <h5 style="text-align:center">Version 1.1 is now out! Head over to the <button mat-button>
                    <h5 class="light-link">changelog</h5>
                </button> to discover what's new!</h5>
        </div>
    </div>
</div>