<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>Magical Capabilities</h3>
        </mat-card-title>
        <mat-card-content>
            <h5>
                Every Nimbat has innate magical capabilities and a connection to the arcane, but how that capability manifests varies wildly from Nimbat to Nimbat. They report that their magic can take any form, and it is up to the Nimbat themselves to determine how they would like theirs to manifest. They describe it as a sort of “focusing.” They choose to learn about the things that interest them most, commit to the study and training of those things, and their magic begins to change to accommodate that interest. Of course, if one wishes to not have any particular specialization, they are able to learn multiple magics, albeit without the same strength and variance as would be the case for learning one specific type. It is even possible for Nimbats to forgo magic altogether, although these types are exceedingly rare.
            </h5>
            <h5>
                For example, Nimbats can be powerful illusionists—a large network of them hides the colony from the outside world. To become one, all a Nimbat would have to do is study it, train in it, and their magical affiliation slowly begins to change. Personal observation of multiple Nimbat specimens led to the following list of known Nimbat magic.
            </h5>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>General Nimbat Magics</h3>
        </mat-card-title>
        <mat-card-subtitle>
            The below listed magic tends to be seen as a "universal", as Nimbats more commonly learn these magics.
        </mat-card-subtitle>
        <mat-card-content style="text-align:center">
            <div class="container">
                <div class="row">
                    <h3>Elemental Manipulation</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Hyper-Acoustic Emission</h4>
                        <h6 style="text-align:justify;">Production of devastating shock-waves of sound, capable of producing incredible kinetic energy and even heat. </h6>
                        <h6 style="text-align:justify" class="notes">"I know of only one Nimbat who is particularly good at this, and she describes herself as “unnatural by all accounts.” I’m unsure if any other Nimbat has this ability as of now."</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Cryomancy</h4>
                        <h6 style="text-align:justify;">Control over water particles, specifically when it comes to solidified forms. The uses for this type are rather niche, but claim to have been observed for mitigating Winter conditions. </h6>
                        <h6 style="text-align:justify" class="notes">"Rumors claim there are Nimbats that have mastered cryomancy, far to the North in the mountains. I'm unsure if this is indication of a second Colony,  or if it's a small amount of Nimbats who have taken permanent residence outside of this Colony."</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Pyromancy</h4>
                        <h6 style="text-align:justify;">Fire conjuration and control. Used mostly for cooking, but sometimes used for defensive purposes, or controlled burns to prevent larger forest fires.</h6>
                        <h6 style="text-align:justify" class="notes">"Powerful Nimbat pyromancers can produce incredibly hot fire. Some Nimbats say they've seen a few notable users of this magic to produce blue fire."</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Bodily Manipulation</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Autoamelioration</h4>
                        <h6 style="text-align:justify;">Alteration of their bodies able to stretch and accommodate larger-than-normal objects.</h6>
                        <h6 style="text-align:justify" class="notes">"I've seen a number of Nimbats using this magic to carry food around, stuffed in their cheeks like a squirrel. It's quite cute!"</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Morphing</h4>
                        <h6 style="text-align:justify;">Changing their physical size. Certain Nimbats are able to grow or shrink to assist them in completing certain tasks.</h6>
                        <h6 style="text-align:justify" class="notes">"Most Nimbats that are able to use this magic report using it to 'blend in' to people outside of the colony. As it turns out, 'human sized' Nimbats tend to be mistaken as anthro bats."</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Smokeform</h4>
                        <h6 style="text-align:justify;">Nimbats with this ability are able to change their entire form into a cloud of smoke. This form is able to move freely, doesn’t seem to be affected by air movement, and allows the Nimbat to reform without any apparent harm to their bodies.</h6>
                        <h6 style="text-align:justify" class="notes">“It’s freaky! Very few Nimbats seem to know how to do this, however it is always a ‘fun’ time when a Nimbat suddenly appears behind you. It’s been said that those who can use this tend to while in combat, to avoid strikes or reposition themselves.”</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Miscellaneous</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Clairvoyance</h4>
                        <h6 style="text-align:justify;">Detecting the location of objects they previously had no knowledge of. This tends to be short-ranged, for example, knowing what you have in your bag, or what is in a certain cabinet without looking in it.</h6>
                        <h6 style="text-align:justify" class="notes">"Good luck getting anything past the Security sect!"</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Telepathic Communication</h4>
                        <h6 style="text-align:justify;">Some Nimbats are able to communicate with entities that cannot otherwise do so through normal, physical means.</h6>
                        <h6 style="text-align:justify" class="notes">"Some Nimbats choose to only communicate telepathically. I'm unsure if this is because they are incapable of traditional speech."</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Psionic Communication</h4>
                        <h6 style="text-align:justify;">A choice few telepathic Nimbats are able to not only communicate words, but feelings and experiences. This could potentially include being brought into what seems like a world in their mind.</h6>
                        <h6 style="text-align:justify" class="notes">"It's incredibly difficult to describe. It's as if your conscience is brought into theirs, as they show you around the palace of their minds. All reports indicate that every Nimbat that is capable of this is otherwise mute, or mumbles in a tongue that seems to be foreign to our world."</h6>
                    </div>
                </div>
                <br>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>"Flight-Specific" Magic</h3>
        </mat-card-title>
        <mat-card-subtitle>
            While use of this magic is not explicitly restricted to these specific flights, users of this magic tend to align themselves with the sects listed in the record.
        </mat-card-subtitle>
        <mat-card-content style="text-align:center">
            <div class="container">
                <div class="row">
                    <h3>Elemental Manipulation</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Electrokinesis</h4>
                        <h6 style="text-align:justify;">The control of the flow of electricity. This tends to be rarer, and relatively exclusive to Flight <b>Progression</b>. The Colony tends to use magical sources to produce things like light, rather than mechanical or fuel-based sources.</h6>
                        <h6 style="text-align:justify" class="notes">"For example, Flight <b class="notes">Progression</b> can charge a phone, but they tend to not keep technology like that for themselves."</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Phytomancy</h4>
                        <h6 style="text-align:justify;">The control over plant-based growth. This magic is considered particularly useful, as the majority of the Colony is in the canopy of the forest. Phytomancers working in Flight Populace use it to form new dwellings out of the trees already there. It’s quite interesting, and it allows them to create new homes in the span of a few hours at most. On top of this, there are the obvious agricultural benefits.</h6>
                        <h6 style="text-align:justify" class="notes">"Nimbat farmers tend to be phytomancers, but it isn't the hard-and-fast rule."</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Time Dilation</h4>
                        <h6 style="text-align:justify;">The altering of the flow of time in localized spaces. </h6>
                        <h6 style="text-align:justify" class="notes">"I know of only one Nimbat of Flight <b class="notes">Preservation</b> who knows how to do this, and she uses it primarily to speed up crop growth. She’s reported one instance of use to put a gravely injured Visitant into a sort of “stasis”, allowing them more time to figure out how to heal them most effectively."</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Spatial Manipulation</h4>
                        <h6 style="text-align:justify;">The ability to create portals and hammer spaces. Flight <b>Preservation</b> tends to use this magic to create “larger on the inside'' spaces to allow mass storage of material. </h6>
                        <h6 style="text-align:justify" class="notes">"A few Nimbats claim they can traverse distances quicker than flight, with the usage of spatial travel, or 'portals.'"</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Bodily Manipulation</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Runic Enchantment</h4>
                        <h6 style="text-align:justify;">Imbuing a rune on one’s person, to change attributes about them. This is primarily the backbone of Flight <b>Proliferation</b>, allowing the Nimbats to enchant a person’s body to increase their ability to procreate. Most other Flights use other types of runes, which have been observed to produce a variety of effects, on both animate and inanimate objects. This is further detailed below, in another section.</h6>
                        <h6 style="text-align:justify" class="notes">"For example, one Nimbat described how they’d imbued a chest with a rune of their own making, to make it burrow itself into the dirt if unwanted paws were to touch it."</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Transformation</h4>
                        <h6 style="text-align:justify;">A handful of Nimbats aligned with <b>Proliferation</b> offer an optional ritual to Visitants that wish to integrate into the Colony at the highest peak, by altering their body into a fitting design for a Nimbat. </h6>
                        <h6 style="text-align:justify" class="notes">"Most cases have apparently been temporary or tied with conditions, but there are rumored permanent instances of this happening. I've yet to personally meet a Nimbat who claims to be transformed from a different species."</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Regeneration</h4>
                        <h6 style="text-align:justify;">Healing magic. Many Nimbats know how to heal people, but only to a basic fault. The most skilled users are part of Flight Populace, and act as makeshift medics to tend to injured, be it a fully-fledged member of the Colony, or a Visitant. This healing magic involves amplifying the body’s natural healing processes, essentially cutting down the time for injuries to produce healthy tissues.</h6>
                        <h6 style="text-align:justify" class="notes">"The magic is very potent, usually healing nearly any sort of malady in the span of an afternoon."</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Miscellaneous</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Illusory Spells</h4>
                        <h6 style="text-align:justify;">Many Nimbats of Flight <b>Protection</b> are illusionists, given that they desire to maintain a level of docility to their society. A large network of them maintain the large illusion field around the Colony, preventing it from being witnessed by outsiders. Some Nimbats take their illusion-craft further, producing doubles, tricks of light, and false stimuli.</h6>
                        <h6 style="text-align:justify" class="notes">"This is notably different from Psionic Communication, due to the fact that the affected conscience is still very much in the real world."</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Dimensional Travel</h4>
                        <h6 style="text-align:justify;">An exceedingly rare few Nimbats are said to settle with Flight <b>Progression</b>, though their names are kept hidden. These are described as brave individuals that are willing not only to venture out from the Colony, but to venture out into worlds beyond, for whatever purpose that may aid them. </h6>
                        <h6 style="text-align:justify" class="notes">"Learning this magic reportedly takes a ridiculous amount of power, and may require assistance from others. "</h6>
                    </div>
                </div>
                <br>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>Runic Enchantment</h3>
        </mat-card-title>
        <mat-card-subtitle>
            Within Runic Enchantment, there is a wide range of possibilities, ranging from bodily alteration to imbuing items with magical properties.
        </mat-card-subtitle>
        <mat-card-content style="text-align:center">
            <div class="container">
                <div class="row">
                    <h3>Bodily Enchantments</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Strength</h4>
                        <h6 style="text-align:justify;">As to be expected, Nimbats have been able to magically augment strength, though this is generally considered as the ability to lift, pull, and move objects.</h6>
                        <h6 style="text-align:justify" class="notes">“Most of the time, Nimbats using this enchantment can carry items that seem to be hundreds of times their weight with little to no strain. Some enchanters recount Visitants being able to uproot entire trees when under the influence of the rune.”</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Power</h4>
                        <h6 style="text-align:justify;">Power, in enchanter speak, specifically references tool use. For example, one’s ability to use axes or saws, or even weaponry as well.</h6>
                        <h6 style="text-align:justify" class="notes">“Much like enchanters’ accounts of impressive strength feats, they recount times of Visitants felling trees in one hit, or harvesting grain at a rapid pace.”</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Sensory Improvements</h4>
                        <h6 style="text-align:justify;">When strength and power aren’t exactly what is most needed, Nimbats are able to bestow improved sensory organs. For example, improved eyesight, smell, or hearing.</h6>
                        <h6 style="text-align:justify" class="notes">“I personally asked for an improved eyesight rune; after I received it, it was incredibly easy to see fine detail from across the colony- It helped quite a bit in some observations!”</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Imbued Enchantments</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Durability</h4>
                        <h6 style="text-align:justify;">As it would imply, the enchantment is often applied to tools to prevent them from dulling or degrading.</h6>
                        <h6 style="text-align:justify" class="notes">“A few enchanters have shown me rope that they report had been holding up certain platforms in the Colony, since its inception all those years ago.”</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Soulbinding</h4>
                        <h6 style="text-align:justify;">Some Nimbats, when they wish not to lose a certain item, have it soulbound to them. They, from then on, are able to locate the item without issue, even if it is obscured or in another location.</h6>
                        <h6 style="text-align:justify" class="notes">“I tested a number of Nimbats with the old “cup game”, by hiding their bound object beneath one of three cups. I ask them to close their eyes, and scramble the cups- every time, without fail, each Nimbat was able to successfully locate their item, on the first attempt.”</h6>
                    </div>
                    <div class="col">
                        <h4 style="text-align:center;">Sensory Improvements</h4>
                        <h6 style="text-align:justify;">An item imbued with this enchantment can be recalled to the bound person at will. For example, if a Nimbat throws a dart, they are able to recall it to their hand after it hits the board. This recalling can either be a “manifestation” in their hand, or it could physically return to them, levitating through the air.</h6>
                        <h6 style="text-align:justify" class="notes">“Marshall (the Security Sect leader) tells me she has a number of different weapons bound to her, available at will. I asked her to call her favorite, to which she manifested an oversized greatsword into her hand.”</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Flight-Specific Enchantments</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 style="text-align:center;">Virility</h4>
                        <h6 style="text-align:justify;">Specifically within Flight <b>Proliferation</b>, there is a throng of Nimbats who are able to imbue Visitants in particular with increased virility.</h6>
                        <h6 style="text-align:justify" class="notes">“I was fortunate enough to be allowed into a ritualistic breeding session with Flight <b class="notes">Proliferation</b>. It was… Quite impressive, to be honest. Male Visitants were able to produce an almost concerning amount of semen, without much trouble or side effects, including dehydration. Female Visitants, on the other hand, have reported that they are able to carry full litters of Nimbat children, having upwards of three to four pups at a time regularly. On top of that, this enchantment allows crossbreeding between Nimbats and Visitants to produce pure Nimbat offspring.”</h6>
                    </div>
                    <div class="col">                        
                        <h4 style="text-align:center;">Fertilization</h4>
                        <h6 style="text-align:justify;">For Flight <b>Preservation</b>, enchanters are able to imbue the land itself with fertility, increasing crop growth and yield. </h6>
                        <h6 style="text-align:justify" class="notes">“It is honestly incredibly interesting to see this magic at work. Priest-like enchanter Nimbats within Flight <b class="notes">Preservation</b> make pilgrimages to the farmlands, regularly booning the land. They are overseen by Kara, the Agriculture sect leader of Flight <b class="notes">Preservation</b>, and she tends to take this obligation incredibly seriously. They report her doing extensive vetting of enchanter applications, making sure they will all take the duty seriously as well.”</h6>
                    </div>
                </div>
                <br>
            </div>
        </mat-card-content>
    </mat-card>
</div>