<div class="container-fluid">
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">Flight Proliferation</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <h5>
        <div style="text-align:center"><img style="width: 20%; height: auto;margin-top: 15px;margin-bottom: 15px"
            src="assets/proliferation.png"></div>
        <br>
        <div class="row">
          <h5 class="col-md-8 offset-md-2">
            Flight Proliferation is all about the continuation of the Nimbat species. They achieve this goal through a
            combination of prenatal care and generalized universal healthcare for Nimbats and visitants alike. They can
            be best described as the doctors, nurses, and health advocates of the Colony, working diligently with the
            other Flights to make sure everyone is in tip top shape. They are often seen collaborating with Protection’s
            Security sect, training their medical technicians, or the Populace sect’s Intervention sect to schedule
            check ups.
          </h5>
        </div>
      </h5>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">The Two Sects of Flight Proliferation</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <h5 class="col-md-8 offset-md-2">
          <h4>Fertility</h4>
          This sect is focused primarily on ensuring Nimbat parents-to-be are able and ready to safely produce healthy
          offspring. They also handle interspecies parents, if an Advocate and their Visitant wish to reproduce as
          well. Through different apothecarian or even magical means, the sect prides itself on its success in
          breeding, or the purposeful lack thereof.
        </h5>
        <h5 class="col-md-8 offset-md-2">
          <h4>Healthcare</h4>
          The Healthcare sect is focused, obviously, on providing healthcare to all colony inhabitants, Nimbats and
          Visitants included. They work closely with Flight Populace, and some med-battes are known to make house calls
          as needed as well. From early life medicine, to late-life care, the sect is knowledgeable in all aspects of
          health and healthiness.
        </h5>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>
      <div class="row">
        <h3 class="col-md-8 offset-md-2">Notable Members</h3>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <h5 class="notes col-md-7 offset-md-2">
          <h4>Rosmerta, Flight Proliferation Elder</h4>
          "Rosmerta was a… fascinating meeting, to say the least. If I were to openly describe what sort of Nimbat she
          is,
          I’d say she is awfully motherly. In hindsight, I suppose that’s to be expected. Her magic seems to focus on
          fertility aspects, such as increasing stimulation through mere touch, among…other effects. Her entire demeanor
          isn’t completely focused on her Flight’s namesake, though. Rosmerta has said that she is into a few of the
          local
          sports in the Colony, such as a kind of activity that I can only describe as some kind of aerial volleyball.
          Others in the Colony have warned me not to cross those in her care. Apparently, underneath her honey-sweet
          exterior, is a fantastic display of power. Her true magic potential offers up a whole barrage of elemental
          power. Mothers have to be tough, I suppose."
        </h5>
        <div class="col-md-1">
          <div style="text-align:center"><img style="width: 100%; height: auto;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/rosmerta.png"></div>
        </div> 
        <div class="col-md-8 offset-md-2"><hr></div>
      </div>
      <div class="row pb-1">
        <div class="col-md-2 offset-md-2">
          <div style="text-align:center"><img style="width: 85%; height: 50%;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/hyacinthazalea.png"></div>
        </div>
        <h5 class="notes col-md-6">
          <h4>Hyacinth & Azalea, Fertility Sect Co-Leaders</h4>
          “Perhaps these two siblings were stationed here in some kind of forewarning for nepotism. Or, more likely, Hyacinth and Azalea simply brought out the absolute best from one another, something I find curious given their reported history of trouble revolving around potion-making. Regardless, the heads of the Fertility sect practice in two modes: Hyacinth is the matchmaker, bringing about potential new couples (and including Visitants in the picture) or strengthening the bonds of existing pairs. Azalea handles the physiological side of things, putting her alchemical talents to good use in provisions. What sort of bodily thing could be used to bolster a relationship between a Visitant and a Nimbat? Set up an appointment.”
        </h5>
        <div class="col-md-8 offset-md-2"><hr></div>
      </div>
      <div class="row">
        <h5 class="notes col-md-7 offset-md-2">
          <h4>Mary, Healthcare Sect Leader
          </h4>
          ”Conveniently, Healthcare’s sect leader is learned in the art of medicine and physical treatment. The reason she keeps her company with medical experts in the Colony is in order to maintain a wellspring of knowledge. What is a little unique about her, though, is her mannerism. The woman comes off more like a compassionate nurse than a doctor. Some speculate that her expertise and demeanor similar to that of Rosmerta puts her directly in line for Eldership when the current Elder is no longer at her position.”
        </h5>
        <div class="col-md-1">
          <div style="text-align:center"><img style="width: 100%; height: auto;margin-top: 15px;margin-bottom: 15px"
              src="assets/sketches/mary.png"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>