<div class="container-fluid">
    <mat-card>
      <mat-card-title>Flight Proliferation</mat-card-title>
      <mat-card-content>
      <h5>
        <div style="text-align:center"><img style="width: 20%; height: auto;margin-top: 15px;margin-bottom: 15px" src="assets/proliferation.png"></div>
        <br>
        Flight Proliferation is all about the continuation of the Nimbat species. They’re the breeding experts, and tend to handle the most Visitants. They also handle the majority of child care assistance, and offer incentives to those willing to partake. Visitants that engage in this, for example, are given housing and access to the food supply. While Visitants are allowed to have their own jurisdiction within the Colony, they are often encouraged to become breeders. In short, the Proliferation Flight cares about reproducing… a LOT.
      </h5>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>The Three Sects of Flight Proliferation</mat-card-title>
      <mat-card-content>
      <h5>
        <div class="container">
          <div class="row">
              <div class="col">
                  <h4 style="text-align:center;">Copulation</h4>
              </div>
              <div class="col">
                  <h4 style="text-align:center;">Fertility</h4>
              </div>
              <div class="col">
                  <h4 style="text-align:center;">Midwifing</h4>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col" style="text-align:justify">
                Nimbats in this sect are more concerned with the act of proliferation within itself. A lot of them take on the task of “bed-warmers,” though, they’ve taken up other tasks as well. Partaking in breeding does not necessarily seem to equivocate to being a part of Flight Proliferation, but those that are a part of Flight Proliferation can partake in breeding. In some instances, these Nimbats just might observe, or even become a part of the action on request. 
            </div>
            <div class="col" style="text-align:justify">
                These Nimbats aren’t often part of the act itself, but play an integral part in ensuring copulation. Whether by magic or apothecary means, they provide partners with supplements that provide effects such as ovulation, increased sperm production, increased potency and virility, and even more exciting measures such as anatomical manipulation.
            </div>
            <div class="col" style="text-align:justify">
                When it comes to childbirth and early-life care, the Nimbats of the Midwifing sect are experts. When Visitants became more of a regular occurrence, adaptation had to be done, but now Nimbat and Visitant alike are referred to Nimbats of Flight Populace once the family is off to their own devices.
            </div>
        </div>
    </div>
      </h5>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>Rosmerta, Flight Proliferation Elder</mat-card-title>
        <mat-card-content>
        <h5 class="notes">
            "Rosmerta was a… fascinating meeting, to say the least. If I were to openly describe what sort of Nimbat she is, I’d say she is awfully motherly. In hindsight, I suppose that’s to be expected. Her magic seems to focus on fertility aspects, such as increasing stimulation through mere touch, among…other effects. Her entire demeanor isn’t completely focused on her Flight’s namesake, though. Rosmerta has said that she is into a few of the local sports in the Colony, such as a kind of activity that I can only describe as some kind of aerial volleyball. Others in the Colony have warned me not to cross those in her care. Apparently, underneath her honey-sweet exterior, is a fantastic display of power. Her true magic potential offers up a whole barrage of elemental power. Mothers have to be tough, I suppose."
        </h5>
        <h5>
          <div class="container">
            <div class="row">
                <div class="col">
                    <h4 style="text-align:center;">Hyacinth</h4>
                    <h6 style="text-align:center;">Conservation Sect Leader</h6>
                </div>
                <div class="col">
                    <h4 style="text-align:center;">Azalea</h4>
                    <h6 style="text-align:center;">Infrastructure Sect Leader</h6>
                </div>
                <div class="col">
                    <h4 style="text-align:center;">Mary</h4>
                    <h6 style="text-align:center;">Agriculture Sect Leader</h6>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col notes" style="text-align:justify">
                "This particular Nimbat crops up often in the various rooms and facilities situated in Proliferation’s headquarters. Anyone is more likely to see her than Rosmerta herself! This is likely due to the fact that she often takes up the helm of matchmaker, even in situations where a Visitant is without an Advocate to initiate a ‘bonding ceremony.’ Evidently, Hyacinth is sibling to Azalea, the Fertility Sect leader. The two had dabbled in a range of alchemic practice and occasionally got into trouble for their antics, but their talents were recognized and both were elected by Rosmerta.."
              </div>
              <div class="col notes" style="text-align:justify">
                "Hyacinth’s sister is one that does not often take up the more direct events of Proliferation, but she does engage in another side of it that is equally important. Her practices in alchemy and pharmatic studies have made her a perfect provisioner for fertility-based supplements. Anything to spice up the experience, to aid in child-making, or even just to experiment, she might have something that’ll help."
              </div>
              <div class="col notes" style="text-align:justify">
                "The leader of the Midwifing Sect is an older Nimbat known as Mary. Like many of the Nimbats involved here, she maintains a more maternal shape, not too dissimilar to Rosmerta. But unlike her compatriots, she finds time to provide other services. In some cases, she welcomes a suitable partner or a Visitant into a private space, inviting them to partake in the typical act of breeding. Her intentions are absolutely direct, in that she will fully attempt to make offspring of her own to add to those she is caring for. Some proclaim she could be a suitable Elder, for when Rosmerta is no longer in the position."
              </div>
          </div>
      </div>
        </h5>
        </mat-card-content>
      </mat-card>
  </div>
  <br>