

.container-fluid { 
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.light-link { 
    color: #1c180d;
}

.inner { 
    background-color: #8a7942;
}

.finn {
    width: 100%;
    height: 20vh;
    border: 1px solid white;
    background-image: url(../../assets/developer-profiles/finn.jpg);
    background-size: 250%;
    background-position-x: right;
    background-position-y: center;
}

.astrodyne {
    width: 100%;
    height: 20vh;
    border: 1px solid white;
    background-image: url(../../assets/developer-profiles/astrodyne.png);
    background-size: 300%;
    background-position-x: left;
    background-position-y: top;
}

.frequency {
    width: 100%;
    height: 20vh;
    border: 1px solid white;
    background-image: url(../../assets/developer-profiles/frequency.png);
    background-size: 200%;
    background-position-x: right;
    background-position-y: top;
}
.arcfire {
    width: 100%;
    height: 20vh;
    border: 1px solid white;
    background-image: url(../../assets/developer-profiles/arcfire.png);
    background-size: 275%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}