<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>Visitant Runes</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/newcomer mark.png">
                    </div>
                    <div class="col-auto">
                        <h3>Newcomer</h3>
                        <h5>The default design for new breeders.</h5>
                        <h5>The "wings" are very similar to the geographical shape of the Colony.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/avid.png">
                    </div>
                    <div class="col-auto">
                        <h3>Avid</h3>
                        <h5>The Colony shape is outlined with a nice sheen of silver.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/peon.png">
                    </div>
                    <div class="col-auto">
                        <h3>Peon</h3>
                        <h5>The silver sheen evolves to gold.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br>
                <div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/loyal.png">
                    </div>
                    <div class="col-auto">
                        <h3>Loyal</h3>
                        <h5>The borders of the entire rune are given a thick outline of a contrasting color, </h5>
                        <h5>which is accompanied by “sparkle” markings around the rune.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br><div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/devoted.png">
                    </div>
                    <div class="col-auto">
                        <h3>Devoted</h3>
                        <h5>The rune grows substantially, with spark-like markings emanating from the “wings” of the rune. </h5>
                        <h5>They reach up to the waist for females, and wrap around the male’s genitalia.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br><div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/oathsworn.png">
                    </div>
                    <div class="col-auto">
                        <h3>Oathsworn</h3>
                        <h5>A very faint glow casts from the rune. </h5>
                        <h5>The color of the glow seems to be directly related to your Advocate, as if they choose the color it would eventually become.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br><div class="row">
                    <div class="col-2" style="text-align:right">
                        <img style="width: 60%; height: auto;text-align:right;display: inline;vertical-align: top;" src="assets/kin.png">
                    </div>
                    <div class="col-auto">
                        <h3>Kin</h3>
                        <h5>At night your mark produces a light that illuminates your entire loins, and at day it sparkles with the sun’s rays.</h5>
                    </div>
                </div>
                <mat-divider></mat-divider><br>
            </div>
        </mat-card-content>
    </mat-card>
</div>