mat-sidenav { 
    background-color: #8a7942;
}

h4 {
    color: #eae6d6;
    padding-top: 10px;
}

h5, h6 { 
    color: #eae6d6;
    padding-top: 10px;
    padding-bottom: 4px;
}

button { 
    font-family: inherit;
    align-items: center;
}

.icon-display {
    transform: scale(1.15);
    vertical-align: middle;
 }

 .fill { 
    min-height: 100vh;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    background-color: #fce5cd;
}

app-footer { 
    margin-top: auto;
}