// __<<ngM2ThemingMigrationEscapedComment0>>__
@use '@angular/material' as mat;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/helpers";
@import "styles/variables";

html, body, app-root {
  height: 100vh;
  width: 100vw;
  display: block;
}body {
  margin: 0;
  padding: 0;
  display: block;
}
h4, h5 { 
  text-size-adjust: 90%;
}

mat-card { 
  background-color: #d69f7e;
  color: #633d2c;
  font-family: inherit;
  margin-bottom: 1%;
}

.notes {
  font-family: 'Architects Daughter';
}

a { 
  text-decoration: none;
  color: #633d2c;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  background: transparent;
}
.mat-button:hover, .mat-icon-button:hover, .mat-stroked-button:hover{
  background: darken($color: (#cdba91), $amount: 5);
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  border: solid 3px yellow; /* for debugging purposes */
}