mat-card { 
    background-color: #c1b485;
    font-family: inherit;
    margin-bottom: 1%;
}

h5 { 
    color: #1c180d;
}

.notes {
    font-family: 'Architects Daughter';
}

a { 
    text-decoration: none;
    color: #a8721a;
}