<div class="container-fluid">
    <mat-card>
        <div class="row">
            <div class="col-md-2 offset-md-4">
                <mat-card-title>
                    <h3 style="text-align:right">Flight Production</h3>
                </mat-card-title>
                <h6 style="text-align:justify">
                    Flight Production is focused entirely on making sure the colony has the materials they need to continue
                    on. Whether it be food or tools, the nimbats in Production are the craftsbattes, miners, loggers, and
                    farmers that keep the whole colony moving together.
                </h6>
            </div>
            <div class="col-md-6">
                <h5>
                    <div style="text-align:left"><img
                            style="width: 30%; height: auto;margin-top: 15px;margin-bottom: 15px"
                            src="assets/production.png"></div>
                    <br>
                </h5>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>
            <h3 style="text-align:center">The Three Sects of Flight Production</h3>
        </mat-card-title>
        <mat-card-content>
            <h5>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4 style="text-align:center;">Agriculture</h4>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Metallurgy</h4>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Handicraft</h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align:justify">
                            This sect focuses almost entirely on the production
                            of crops. Whether it be for food or materials like cotton, the farmers and gatherers are the
                            lifeblood of Agriculture for the Colony. Crops are inspected, and those working on the
                            production and maintenance of these crops are compensated accordingly. There are also
                            systems proposed and practiced by this sect in order to protect food security in moments of
                            disaster or destruction.

                        </div>
                        <div class="col" style="text-align:justify">
                            A majority of the workers in Metallurgy are focused on extracting and refining material from
                            the Colony’s mine, as well as those more interested in processing metals for tools and other
                            uses around the Colony. What’s most interesting is that while the mine itself isn’t very
                            rich in ore, the Nimbats that deploy their magics for alchemy are able to transmute stone
                            and other procured items from the mines into potential ore. From there, smelters and forgers
                            are able to process that metal into usable material. They work closely with Preservation’s
                            Maintenance sect, providing them with material that may be needed to retain infrastructural
                            integrity for buildings and other projects.

                        </div>
                        <div class="col" style="text-align:justify">
                            Handicraft is home to the makers, the movers, the shakers, and the improvers that actually
                            produce the things made from raw material found in its sister sects. Carpenters, weavers,
                            goldsmiths, leatherworkers, blacksmiths and more find themselves at-home in this aspect,
                            crafting any manner of goods that may be needed. Some are even open to teaching interested
                            Nimbats and Visitants, and help them improve their handiwork.
                        </div>
                    </div>
                </div>
            </h5>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <mat-card-title>
                    <h3 style="text-align:right">Carolyn, Flight Production Elder</h3>
                </mat-card-title>
                <h5 style="text-align:right" class="notes">
                    “The Elder of Production is not often spoke of by others, not as a matter of distaste but rather a
                    matter of feeling slightly overwhelmed. Carolyn is passionate, to say the least. They say that once,
                    when she was a kit, she got lost in the North in an adventure on her own, and returned to the Colony
                    years later with a bear skin draped across her shoulders and a barrel of beer under her arm. Despite
                    this harrowing description, she is a very loving sort. Quite the hugger, too—if I didn’t have the air to
                    voice my complaint, she might’ve destroyed my ribs. Her loving nature is juxtaposed with her rough hand,
                    which explains her bulkier frame. Mechanic, smith, sometimes an engineer, and sometimes a drinking
                    champion, the only muscle larger than those in her arms and legs is her heart, which only means she’s
                    more likely to lift you up in a hug! Also, don’t bother asking her about the leg. She changes the story
                    every time you ask.”
                </h5>
                
            </div>
            <div class="col-md-4">
                <h5>
                    <img style="width: 45%; height: auto;margin-top: 15px;margin-bottom: 15px"
                    src="assets/elders/carolyn.png">
                    <br>
                </h5>
            </div>
        </div>
        <mat-card-content>
            
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4 style="text-align:center;">Kara</h4>
                            <h6 style="text-align:center;">Agriculture Sect Leader</h6>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Vivianne</h4>
                            <h6 style="text-align:center;">Metallurgy Sect Leader</h6>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Mack</h4>
                            <h6 style="text-align:center;">Handicraft Sect Leader</h6>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col notes" style="text-align:justify">
                            Kara's description goes here.</div>
                        <div class="col notes" style="text-align:justify">
                            Vivianne's description goes here.</div>
                        <div class="col notes" style="text-align:justify">
                            Mack's description goes here.</div>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
</div>
<br>