<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <h3>Flight Production</h3>
        </mat-card-title>
        <mat-card-content>
            <h5>
                <div style="text-align:center"><img
                        style="width: 20%; height: auto;margin-top: 15px;margin-bottom: 15px"
                        src="assets/production.png"></div>
                <br>
                Flight Production is focused entirely on making sure the colony has the materials they need to continue
                on. Whether it be food or tools, the nimbats in Production are the craftsbattes, miners, loggers, and
                farmers that keep the whole colony moving together.
            </h5>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>
            <h3>The Three Sects of Flight Production</h3>
        </mat-card-title>
        <mat-card-content>
            <h5>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4 style="text-align:center;">Agriculture</h4>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Metallurgy</h4>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Handicraft</h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align:justify">
                            This sect focuses almost entirely on the production of crops. Whether it be for food or
                            materials like cotton, the farmers and gatherers of Agriculture are the lifeblood of the
                            Colony. Crops are inspected, and those working on the production and maintenance of these
                            crops are compensated accordingly. There are also systems proposed and practiced by this
                            sect in order to protect food security in moments of disaster or destruction.</div>
                        <div class="col" style="text-align:justify">
                            A majority of the workers in Metallurgy are focused on extracting and refining material
                            from the Colony’s mine, as well as those more interested in processing metals for tools
                            and other uses around the Colony. What’s most interesting is that while the mine itself
                            isn’t very rich in ore, the Nimbats that deploy their magics for alchemy are able to
                            transmute stone and other procured items from the mines into potential ore. From there,
                            smelters and forgers are able to process that metal into usable material. They work
                            closely with Preservation’s Maintenance sect, providing them with material that may be
                            needed to retain infrastructural integrity for buildings and other projects.</div>
                        <div class="col" style="text-align:justify">
                            Handicraft is home to the makers, the movers, the shakers, and the improvers that
                            actually produce the things made from raw material found in its sister sects.
                            Carpenters, weavers, goldsmiths, leatherworkers, blacksmiths and more find
                            themselves at-home in this aspect, crafting any manner of goods that may be needed.
                            Some are even open to teaching interested Nimbats and Visitants, and help them
                            improve their handiwork.
                        </div>
                    </div>
                </div>
            </h5>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>
            <h3>Carolyn, Flight Production Elder</h3>
        </mat-card-title>
        <mat-card-content>
            <h5 class="notes">
                "The youngest of the Elders, albeit still quite old by human standards, Brianna is a curious and playful
                spirit. She’s much for conversation, but only if it means that she can potentially steal something shiny
                from your person if you aren’t paying attention—my own wrist watch got taken, and it took an hour to get
                it back! When Brianna isn’t being a little devil, she’s tinkering with some object, making interesting
                trinkets and toys. It’s likely she has some form of metallurgy in her magic capacity." </h5>
            <h5>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4 style="text-align:center;">Kara</h4>
                            <h6 style="text-align:center;">Acquisition Sect Leader</h6>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Artemis</h4>
                            <h6 style="text-align:center;">R&D Sect Leader</h6>
                        </div>
                        <div class="col">
                            <h4 style="text-align:center;">Anne</h4>
                            <h6 style="text-align:center;">Education Sect Leader</h6>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col notes" style="text-align:justify">
                            "Strangely, no one seems to know Whisper’s actual name. She’s quite the notorious one, and
                            has a reputation of being able to get anything from anywhere. I’m personally unsure how she
                            does come about most of the things she finds, but I theorize she has strong clairvoyance
                            that she keeps under wraps. I can’t tell how much of them are actually true, but she has
                            given a story for each of the things she acquiesced. She’s regaled me with tales of daring
                            escapes and panicked portaling, but most of these stories are about things that don’t seem
                            to be too useful for the Flight at large. The girl certainly likes her shiny things." </div>
                        <div class="col notes" style="text-align:justify">
                            "Mila’s likely the most curious Nimbat in the colony. She tends to fly around in a long lab
                            coat, and likes to look at every little thing on her routes through the colony. This usually
                            causes her to be late to meetings (evidenced by the fact that she was nearly half an hour
                            late to our scheduled one), but most other Colony residents write it off as “Typical Mila
                            time.” A few say that they’ve told her to arrive earlier than other invitees, and even then
                            she still tends to get there late." </div>
                        <div class="col notes" style="text-align:justify">
                            "Anne is, in a way, a mother to every Nimbat who grew up in the Colony. She takes her job
                            incredibly seriously, and is constantly working with other Sects in other Flights to make
                            her educational program as good as it can be. She’s told me about a magic she’s managed to
                            learn and develop herself; A form of telepathy, which allows her to verbally communicate
                            seamlessly with anyone across any culture. She says that she looks into someone's mind, and
                            learns their language in moments. For the rest of my time with her, she rattled through what
                            seemed like a hundred different languages and dialects, all learned from places she’s
                            visited. It was uncanny to hear a Nimbat speak in the same accent of my home town,
                            █████████." </div>
                    </div>
                </div>
            </h5>
        </mat-card-content>
    </mat-card>
</div>
<br>